#box {
  margin-top: 20px;
  border: 1px black solid;
  text-align: center;
  height: 300px;
  width: 300px;

}

.container {
    display: flex;
    justify-content: center;

    flex-direction: column;
    align-items: center;
}

button {
  margin-top: 100px;

}

label {
    display: block;
    height: 20px;
}

